main {
    height: 100vh;
}

.map {
    height: 100%;
}

.sidemenu {
    height: 100vh;
    position: fixed;
    padding-top: 5px;
    width: 300px;
    background-color: black;
    z-index: 1;
    transition: transform 0.3s;
    overflow-y: scroll;
}

form {
    margin: 5px 0;
}

.sidemenu_hide {
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

.sidemenu_show {
    top: 0;
    left: 0;
    transform: translateX(0);
}

.menu-icon-container {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: right;
    background: black;
}

.menu-icon {
    color: #aaa;
    top: 0;
    right: 0;
    margin: 5px 5px;
    padding: 5px 8px;
}

.menu-icon:hover {
    border-radius: 50%;
    background: #eee;
    cursor: pointer;
    /*box-shadow: inset 2px 0px 1px 1px rgb(191, 191, 191);*/
}

.place-item {
    padding: 5px 0;
    transition: 0.1s ease;
    color: #337ab7;
}

.place-item:hover {
    padding-left: 10px;
    background: dodgerblue;
    color: #ddd;
}

.place-details * {
    margin: 1.5px 0;
}

.place-name {
    font-weight: bold;
}

.place-address {
    font-size: 10px;
    max-width: 200px;
}

.place-rating_icon {
    color: gold !important;
}

.place-rating {
    color: blue !important;
}

.place-img_caption {
    font-size: 10px;
}

.place-img_caption a {
    text-decoration: none;
    color: inherit;
}

.place-img_caption:hover {
    color: #337ab7;
    font-weight: bold;
}

.place_data-feedback {
    font-style: italic;
    font-size: 12px;
    text-align: center;
    margin: 36px 0;
}

.wiki-articles {
    padding: 5px;
}

.wiki-articles__list {
    padding-left: 0;
}
